ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
background-color: #f00909;
  }
  
  li a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    
    
  }
  .first{
    margin-left: 500px;

  }

 
  
  li:hover {
    background-color: #111;
  }
 

 